@font-face {
	font-family: HindVadodara;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/HindVadodara-Bold.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/HindVadodara-Light.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/HindVadodara-Regular.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/HindVadodara-Medium.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-VariableFont_wght.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/HindVadodara-SemiBold.woff2") format("woff2");
	font-style: normal;}
