@font-face {
	font-family: HindVadodara;
	font-display: swap;
	src: url("../fonts/HindVadodara-Bold.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-display: swap;
	src: url("../fonts/HindVadodara-Light.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-display: swap;
	src: url("../fonts/HindVadodara-Medium.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-display: swap;
	src: url("../fonts/HindVadodara-Regular.woff2") format("woff2");
	font-style: normal;}
@font-face {
	font-family: HindVadodara;
	font-display: swap;
	src: url("../fonts/HindVadodara-SemiBold.woff2") format("woff2");
	font-style: normal;}
