@import "fonts";
@import "vars";
@import "get-started";
@import "footer";
@import "header";

body {
  font-family: HindVadodara;
  margin: 0;
  padding: 0;
}
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
}

.container {
  margin: 0 auto;
  position: relative;
}

.error-input {
  border: 1px solid $error !important;
}
.error-button {
  border: 1px solid $error !important;
  pointer-events: none;
}
.highlighted-text {
  position: relative;
  z-index: 2;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0.4rem;
    height: 0.5rem;
    background-color: #fdc221;
    z-index: -2;
  }
}

.what-we-do {
  width: 100%;
  background-color: #ecf7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  &__title {
    font-size: 48px;
    color: $text-main;
    font-weight: 400;
    text-align: center;
    line-height: 51px;
    @media only screen and (max-width: $mobile-bp) {
      line-height: 48px;
    }
  }
}